/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background-Color: #85A98F;
}
.Main-Content {
    background-color: #D3F1DF;
    padding: 40px 20px 40px 20px;
    border:20px;
    border-spacing:10px;
}
.navigation-bar{
    display:flex;
    background-color: black;
    color:white;
    padding: 10px;
}
.navigation-bar div {
    border-right: solid grey 1px;
   padding:20px;
   font-size: larger;

}
.navigation-bar div:last-child{
    flex:1px;
}

body>div{
    width:80%;
    margin: auto;
    margin-top: 40px;
}
.navigation-bar a {
    color:white;
    text-decoration:none;
}
.active-link {
    background-color:green;
}
.Main-Content .pictures-level, .second-level{
    border: solid green 3px;
    background-color: white;
    padding:20px;
}

.pictures-level img{
    float:left;
}
.link-btn {
    display: inline-block;
    padding: 5px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.pictures-level img, .pictures-level p{
    height:200px;
}
.second-level img{
    
}
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: left;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    text-align: center;
    font-weight: bold;
}
.pictures-level img:hover {
    -webkit-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
}

.second-level img:hover {
    -webkit-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
}
.pictures-level, .second-level {
    border: solid green 3px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}